@model GestionDeStock.Venta
@{
    ViewData["Title"] = "Crear Venta";
}

<h1>Crear venta</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarVenta">
            <!-- nombre action-->

            <div class="form-group">
                <label asp-for="ProductoId" class="control-label"></label>
                @* Mostrar lista desplegable de productos *@
                @Html.DropDownListFor(model => model.ProductoId, (SelectList)ViewBag.Productos, "-- Seleccione un producto --", new { @class = "form-control" })
                <span asp-validation-for="ProductoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <input asp-for="UsuarioId" class="form-control" />
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="crear" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewBag.Alert != null)
        {
            <div class="alert alert-dismissable alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    &times;
                </button>
                <strong>Aviso!</strong> @ViewBag.Alert
            </div>
        }
    </div>
</div>